.slider{
    max-width: 1590px;
    max-height: auto;
    margin: 0 auto;
    //width:1500px height:390px
    
}
.Carousel{
    width: 100%;
    height: 100%;
} 
.imgWrap{
    position: relative;
    width:100%;
    height: 500px;
}
