
.FindResultText {
    text-align: center;
    font-size: 33px;
    margin-bottom: 13px;

}

.NullResultText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 33px;
}

